/NetBeansProjects/Assignment1/nbproject/private/
/NetBeansProjects/Assignment1/build/
/NetBeansProjects/Assignment 2/nbproject/private/
/NetBeansProjects/Assignment 2/build/
/NetBeansProjects/Q2/nbproject/private/
/Desktop/JavaApplication1/nbproject/private/
/Desktop/JavaApplication1/build/
/Desktop/JavaApplication1/dist/
/NetBeansProjects/Cursor Implementation/nbproject/private/
/NetBeansProjects/Cursor Implementation/build/
/NetBeansProjects/Stack/nbproject/private/
/NetBeansProjects/Stack/build/
/NetBeansProjects/Quiz/nbproject/private/
/NetBeansProjects/Quiz/build/
/NetBeansProjects/JavaApplication6/nbproject/private/
/NetBeansProjects/JavaApplication6/build/